ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
}

li {
        float: left;
        font-size: 20px;
}

li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}

div {
        transition: all 0.5s ease;
        background: #333;
        

}

div:hover{
        background: orange;
        padding: 6px;
        
}
        


h1 {
        text-align: center;
        color: #3B58BD;

}

<<<<<<< HEAD
.btn {
        background-color: black;
        border: none;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        opacity: 0.6;
        transition: 0.3s;
}

.circle:hover{
        transition:0.3s;
        border-radius:50%;
}       
=======


>>>>>>> 453fd51204415599d5874e7c48f1ccb6fb9f7033
