.h1{
	font-size: 50px;
	position: relative;
	bottom: 40px;
}

.p{
	font-size: 20px;
	position: relative;
	bottom: 80px;
}

.p1{
	position: relative;
	bottom: 99px;
	font-size: 20px;
}

.black{
	height: 40px;
	background-color: black;
	background-color:  blackness(50%);
	position: relative;
	bottom: 110px;
}